<a href="https://colab.research.google.com/github/SugarRush02/FoodML/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"Nutrition_Value_Dataset.csv")

In [4]:
df['Hunger Level']=0
df['Protein Level']=0
df

,Company,Category,Product,Per Serve Size,Energy (kCal),Carbohydrates (g),Protein (g),Fiber (g),Sugar (g),Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Hunger Level,Protein Level
0,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.60,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,0,0
1,Pizza Hut,All Meals,Country Feast (Personal),178 g,407.60,67.11,16.73,7.19,0.0,8.03,3.24,0.11,66.80,818.00,0,0
2,Pizza Hut,All Meals,Double Cheese (Personal),143 g,423.33,59.97,18.26,3.49,0.0,12.27,5.23,0.18,19.75,638.22,0,0
3,Pizza Hut,All Meals,Double Paneer Supreme (Personal),174.5 g,474.03,52.86,20.07,3.79,0.0,20.26,9.25,0.33,71.72,1128.11,0,0
4,Pizza Hut,All Meals,Farmer`s Pick (Personal),177 g,408.16,53.93,19.91,2.46,0.0,12.53,4.90,0.14,48.09,942.67,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Dominos,All Meals,CHICKEN WINGS,174.0,352.90,24.50,35.30,5.76,10.4,12.60,4.80,0.19,308.70,NaN,0,0
526,Dominos,All Meals,CRISPY CHICKEN STRIPS,156.0,461.20,51.30,26.70,5.16,3.6,13.90,4.30,0.17,713.07,NaN,0,0
527,Dominos,All Meals,ZINGY PARCEL CHICKEN,210.0,667.50,17.30,19.20,16.92,10.6,31.30,14.10,0.56,541.49,NaN,0,0
528,Dominos,All Meals,TACO MEXICANA - CHICKEN,97.0,322.60,34.20,9.30,5.40,3.9,16.50,4.50,0.18,564.30,NaN,0,0
529,Dominos,All Meals,CALZONE POCKETS - CHICKEN,248.0,582.90,101.00,18.60,5.04,12.2,11.60,4.20,0.17,1171.60,NaN,0,0

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [6]:
X=df[['Energy (kCal)']] # Feature matrix
y=df['Hunger Level']    # Target variable
w=df[['Protein (g)']]
z=df['Protein Level']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.95,random_state=2)
w_train, w_test, z_train, z_test = train_test_split(w, z, test_size=0.95,random_state=2)

In [7]:
print(X_train)

     Energy (kCal)
211         270.00
351          99.60
454         253.50
302           7.39
196         240.00
88          443.92
325         121.64
323          85.73
255         246.65
359         145.16
51          568.53
102         466.92
195         100.00
124         439.02
404         699.40
287         215.72
47          561.68
433          72.30
263           6.80
360           0.99
75          385.35
466         225.40
299          11.75
493         227.70
527         667.50
168         665.70

In [8]:
print(y_train)

211    0
351    0
454    0
302    0
196    0
88     0
325    0
323    0
255    0
359    0
51     0
102    0
195    0
124    0
404    0
287    0
47     0
433    0
263    0
360    0
75     0
466    0
299    0
493    0
527    0
168    0
Name: Hunger Level, dtype: int64

In [9]:
print(w_train)

     Protein (g)
211        10.00
351         0.00
454        10.80
302         0.40
196         3.00
88         18.77
325         2.25
323         1.99
255        15.26
359         1.52
51         23.45
102        17.11
195         2.00
124        20.35
404        85.30
287        10.36
47         18.99
433         0.30
263         0.00
360         0.00
75         14.12
466        10.10
299         0.66
493        10.50
527        19.20
168        70.40

In [10]:
print(z_train)

211    0
351    0
454    0
302    0
196    0
88     0
325    0
323    0
255    0
359    0
51     0
102    0
195    0
124    0
404    0
287    0
47     0
433    0
263    0
360    0
75     0
466    0
299    0
493    0
527    0
168    0
Name: Protein Level, dtype: int64

In [11]:
y_train=[2,1,1,1,1,2,1,1,1,1,3,2,1,2,3,1,3,1,1,1,2,1,1,1,3,3]
print(y_train)

[2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 2, 1, 2, 3, 1, 3, 1, 1, 1, 2, 1, 1, 1, 3, 3]

In [12]:
z_train=[0,0,0,0,0,0,0,0,0,0,1,0,0,0,4,0,0,0,0,0,0,0,0,0,0,3]
print(z_train)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3]

In [13]:
lr = LinearRegression()

# Train the model on the training set
lr.fit(X_train, y_train)

# Predict the hunger level for the test set
y_pred = lr.predict(X_test)


lr.fit(w_train,z_train)

# Predict the Protein Level for the test set
z_pred=lr.predict(w_test)

In [14]:
print('Coefficients:', lr.coef_)
print('Intercept:', lr.intercept_)

Coefficients: [0.04456633]
Intercept: -0.3210872238801403

In [15]:
print(X_test)

     Energy (kCal)
232         339.52
286         166.99
314         255.51
321         150.85
388         450.60
..             ...
52          561.95
80          407.76
450         175.50
31          557.70
121         246.73

[504 rows x 1 columns]

In [16]:
y_pred=y_pred.round()

In [17]:
y_pred=y_pred.astype('int')

In [18]:
print(y_pred)

[ 2  1  2  1  2  1  1  5  3  2  2  1  2  2  2  4  2  2  1  1  1  1  2  1
  1  2  2  1  3  1  1  1  2  2  2  1  2  2  5  2  1  2  1  1  2  2  3  3
  2  2  2  1  2  1  1  1  2  1  6  2  1  2  1  2  2  2  1  1  2  2  2  1
  2  1  1  2  2  2  1  1  2  1  2  2  2  2  2  2  2  2  1  2  2  2  2  3
  2  2  2  2  1  8  2  2  1  2  2  3  2  2  1  1  3  1  1  1  1  1  2  2
  1  1  2  1  1  1  1  5  1  3  2  2  1  2  1  2  2  1  1  1  1 10  2  1
  2  1  3  1  1  1  3  1  1  1  2  1  2  1  3  2  1  2  3  5  2  1  1  2
  2  2  2  2  1  1  1  2  1  3  2  9  2  1  2  2  2  4  1  2  2  1  1  2
  1  5  2  3  1  1  2  1  3  1  2  2  3  2  2  1  1  1  2  2  3  2  1  5
  2  2  1  3  1  3  2  1  3  4  2  2  1  3  2  2  2  3  2  1  1  2  2  2
  2  5  2  1  2  2  1  1  5  2  1  1  1  1  2  1  9  2  2  1  1  2  2  1
  2  1  1  2  8  1  2  3  1  2  3  2  2  2  3  2  5  2  5  1  2  1  2  2
  3  2  7  3  1  2  2  2  1  1  1  2  2  1  2  2  2  1  2  1  2  1  2  2
  2  2  1  1  2  1  2  2  2  2  1  1  1  2  2  1  2  1  1  1  2  1  2  1
  1  2  3  2  2  1  3  1  3  3  1  2  1  1  2  2  1  2  2  3  1  1  2  2
  2  6  3  1  2  1  5  2  2  1  1  1  1  1  2  2  1  2  1  1  2  3  2  2
  2  2  1  2  4  2  1  3  1  1  1  1  1  2  1  1  3  3  2  2  1  3  2  2
  1  2  2  2  2  2  1  1  1  2  2  1  2  2  2  2  1  3  1  2  2  1  2  1
  2  2  1  2  2  2  2  2  1  2  1  2  1  1  1  2  2  2  2  3  1  2  3  2
  1  2  1  1  1  1  3  1  1  1  2  1  2  1  2  3  2  1  1  1  1  2  2  2
  2  4 10  2  3  3  2  1  1  1  2  3  2  1  1  2  3  1  1  3  2  1  3  1]

In [19]:
print(w_test)

     Protein (g)
232         8.50
286         8.06
314         3.67
321         3.59
388        18.70
..           ...
52         25.11
80         18.83
450         7.80
31         23.09
121         3.58

[504 rows x 1 columns]

In [20]:
z_pred=z_pred.round()

In [21]:
z_pred=z_pred.astype('int')

In [22]:
print(z_pred)

[0 0 0 0 1 0 0 4 1 0 0 1 1 0 0 3 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 1 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 5 1 0 0 1 0 1 1 1 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 4 0 1 0 0 0 1 0 0 1 0 0 0 0 7 1 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 2 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 6 1 0 0 1 0
 1 0 1 0 0 0 0 0 5 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 1 0 0 3 1 0 0 0 0 2
 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 1 1 4 1 0 0 1 0 0 4 1 0 0 0 0 0 0 9 2 0
 0 0 1 1 0 0 0 0 0 5 0 0 1 0 0 1 1 0 1 1 0 3 0 4 0 0 0 0 0 1 1 6 0 0 1 0 1
 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 1 1 0 0 0 2 0 1 1 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 4 2 0 1 0 7 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 4 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1
 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0
 5 8 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 0 1 0]

In [23]:
df.loc[X_test.index,'Hunger Level']=y_pred
df.loc[X_train.index,'Hunger Level']=y_train
df.loc[w_test.index,'Protein Level']=z_pred
df.loc[w_train.index,'Protein Level']=z_train

In [24]:
df

,Company,Category,Product,Per Serve Size,Energy (kCal),Carbohydrates (g),Protein (g),Fiber (g),Sugar (g),Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Hunger Level,Protein Level
0,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.60,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,2,0
1,Pizza Hut,All Meals,Country Feast (Personal),178 g,407.60,67.11,16.73,7.19,0.0,8.03,3.24,0.11,66.80,818.00,2,0
2,Pizza Hut,All Meals,Double Cheese (Personal),143 g,423.33,59.97,18.26,3.49,0.0,12.27,5.23,0.18,19.75,638.22,2,0
3,Pizza Hut,All Meals,Double Paneer Supreme (Personal),174.5 g,474.03,52.86,20.07,3.79,0.0,20.26,9.25,0.33,71.72,1128.11,2,1
4,Pizza Hut,All Meals,Farmer`s Pick (Personal),177 g,408.16,53.93,19.91,2.46,0.0,12.53,4.90,0.14,48.09,942.67,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Dominos,All Meals,CHICKEN WINGS,174.0,352.90,24.50,35.30,5.76,10.4,12.60,4.80,0.19,308.70,NaN,2,1
526,Dominos,All Meals,CRISPY CHICKEN STRIPS,156.0,461.20,51.30,26.70,5.16,3.6,13.90,4.30,0.17,713.07,NaN,2,1
527,Dominos,All Meals,ZINGY PARCEL CHICKEN,210.0,667.50,17.30,19.20,16.92,10.6,31.30,14.10,0.56,541.49,NaN,3,0
528,Dominos,All Meals,TACO MEXICANA - CHICKEN,97.0,322.60,34.20,9.30,5.40,3.9,16.50,4.50,0.18,564.30,NaN,2,0
529,Dominos,All Meals,CALZONE POCKETS - CHICKEN,248.0,582.90,101.00,18.60,5.04,12.2,11.60,4.20,0.17,1171.60,NaN,3,1

In [25]:
df['Hunger Level']

0      2
1      2
2      2
3      2
4      2
      ..
525    2
526    2
527    3
528    2
529    3
Name: Hunger Level, Length: 530, dtype: int64

In [26]:
print(df.iloc[[0],[2]])

                    Product
0  Corn n Cheese (Personal)

In [27]:
df.shape[0]

530

In [34]:
a=input("Enter Restaurant Name:")
b=int(input("Enter Hunger Level (1 to 3):"))
c=(input("Do you want to eat a high Protein Meal (y to n):"))
print(a,"\nHunger Level:",b,"\nHigh Protein:",c,"\n\n")
t=df['Company']
p=df['Product']
for i in range(df.shape[0]):
    if t[i].lower()==a.lower() and b==3 and y[i]>=3 and z[i]>=1 and c=="y":
        print(p[i])
    elif t[i].lower()==a.lower() and b==3 and y[i]>=3 and z[i]>=0 and c=="n":
        print(p[i])
    elif t[i].lower()==a.lower() and y[i]==b and z[i]>=0 and c=="n":
        print(p[i])
    elif t[i].lower()==a.lower() and y[i]==b and z[i]>=1 and c=="y":
        print(p[i])

Enter Restaurant Name:burger king
Enter Hunger Level (1 to 3):2
Do you want to eat a high Protein Meal (y to n):y
burger king
Hunger Level: 2
High Protein: y


Chicken Tandoori Grill
Xtra Long chicken
Fiery chicken (South)
Fiery Chicken (North & West)
Chicken fries 9 pcs
Chicken wings Fried ( 4Pcs)
Chicken wings Grilled ( 4Pcs)